.popup__title{
    color: black;
    font-size: 24px;
    font-weight: 900;
    max-width: fit-content;
    /* margin-bottom: 52px; */
}
@media screen and (max-width: 700px) {
    .popup__title {
        font-size: 18px;
    }    
}