.profile {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    margin: 0 auto 0;
    justify-content: space-between;
    align-items: center;
    }
@media screen and (max-width: 700px) {
    .profile{
        flex-direction: column;
        max-width: 282px;
        margin: auto;
        
    }
    }