.profile__avatar-block{
    margin: 0;
}

.profile__avatar-block:hover{
    min-height: 120px;
    max-width: 120px;
    border-radius: 100%;
    margin: 0 30px 0 0;
    flex-basis: 0;
    background-image: url("../../../images/edit-avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
}