.element {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 100%;
  box-sizing: content-box;
  border-radius: 3%;
  overflow: hidden;
  position: relative;
}