.popup__container-form{
    margin-top: 34px;
    margin-bottom: 36.5px;
    margin-left: 36px;
    margin-right: 36px;
}
@media screen and (max-width: 700px) {
    .popup__container-form {
        margin: 25px 22px 0;
    }    
}