.popup__container{
    max-width: 430px;
    margin: auto;
    position: relative;
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 10px;
    
    
}
@media screen and (max-width: 700px) {
    .popup__container {
        max-width: 282px;
    }    
}
